

<ion-view view-title="Search">
  <ion-content>
        <h1 class="title">Search</h1>
        <label class="item item-input">
          <span class="input-label">Book Title</span>
          <input type="text" ng-model="srbox">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit" ng-click="search(srbox)">Search</button>
        </label>
        <div ng-if="!cleansearch">
			<div ng-if="showerror">
				<p>Your search term produced no books.</p>
			</div>
        	<div ng-if="!showerror">
				<h4>{{title}}</h4>
				<img class="wrap" ng-src="{{smallimgURL}}">
				<p>Average rating: {{avgrating}}</p>
				<p>Showing {{curbook+1}} of {{booknum+1}}</p>
				<div>
					<span id="leftside">
						<a href="" ng-show="curbook>0" ng-click="showbook(curbook-1)" on-swipe-left="curbook(-1)">Previous Result</a>
					</span>
					<span id="rightside">
						<a href="" id="rightside" ng-show="curbook<booknum" ng-click="showbook(curbook+1)" on-swipe-right="showbook(curbook+1)">Next Result</a>
      				</span>
       			</div>
        	</div>
        </div>
  </ion-content>
</ion-view>
     